<!DOCTYPE html>
<html>
<head>
    <title>User Not Found</title>
</head>
<style>
    h1{
        color: rgb(0, 132, 255);
    }
    p{
        color: lightskyblue;
    }
    h3{
        color: red;
    }
</style>
<body>
    <h1>User Not Found</h1>
    <p>The user you are looking for does not exist.</p>
    <br>
    <h1>Either you have entered wrong credentials or you are not yet entered to get your credentials IF NOT |||| </h1>
    <br>
    <PRE><h3>ERROR 404 !!! Alert ---- Danger X X X X X 
    Just kidding... </h3></PRE>
    <br>
    <h1>Please do register and make not only yours but also our mood great...</h1>
    <br>
</body>
</html>